GOOGLE_API_KEY=your_google_api_key
GEMINI_MODEL=gemini_model_name

POSTGRES_DB=postgres_database_name
POSTGRES_USER=postgres_database_user
POSTGRES_PASSWORD=your_database_password
POSTGRES_PORT=your_database_port

DATABASE_URL=postgresql+psycopg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:${POSTGRES_PORT}/${POSTGRES_DB}